<%- include header %>
<ol class="breadcrumb">
    <li><a href="/" title="Go Home">Home</a></li>
    <li>
        <a href="/content/category?categoryId=<%= doc.category %>&page=1" title="view by category"><%= doc.categoryName %></a>
    </li>
    <li><a href="/content/detail?id=<%= doc._id %>&view=contentDetail"><%= doc.name %>  detail</a></li>
    <li class="active">Edit <%= doc.name %></li>
</ol>

<form role="form" action="javascript:void(0)">
    <div class="form-group">
        <label>Title</label>
        <span class="pull-right text-primary h4">you can input <i
                    class="h3 js-content-name-chars">50</i> charachters</span>
        <input type="text" class="form-control js-add-content-name" data-id="<%=doc._id%>" placeholder="Content Title" autofocus maxlength="50"
               value="<%= doc.name %>"/>
    </div>
    <div class="form-group">
        <label>Content</label>
        <%- include editor %>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control js-category-value">
        </select>
    </div>
    <div class="form-group">
        <div class="l-padding-vertical">
            <button type="submit" class="btn btn-primary col-sm-12 js-save-content">Save Edit Content</button>
        </div>
    </div>
</form>


<%- include footer %>
<script>
    $(function () {
        $('.js-editor').html("<%- doc.content%>");
        $.get("/content/addPage", {
            type: "json"
        }, function (data) {
            var docs = data.docs;
            var options = "";
            $.each(docs, function(i,tempDoc){
                console.log(tempDoc.name);
                console.log('<%=doc.category%>');
                if(tempDoc._id != '<%=doc.category%>'){
                    options += '<option value="'+tempDoc._id+'">'+tempDoc.name+'</option>';
                } else {
                    options += '<option value="'+tempDoc._id+'" selected>'+tempDoc.name+'</option>';
                }

            });
            $('.js-category-value').html(options);
        }, "json");
    });

</script>
