<%- include header %>
<div class="row js-panel-row">

    <div class="col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">All Contents</div>
            <div class="panel-body">
                <% if(docs.length > 0){ %>
                <% for(var i = 0;i < docs.length;i++){ %>
                <div class="bs-callout bs-callout-info">
                    <h4>
                        <i class="glyphicon glyphicon-bookmark"></i>
                        <a href="/content/detail?id=<%= docs[i]._id %>&view=contentDetail"
                           title="<%= docs[i].name %>"><%= docs[i].name.length > 30 ? docs[i].name.substring(0, 30) + "..." : docs[i].name %></a>
                    </h4>

                    <div class="clearfix"></div>
                    <div class="js-content-desc hide"><%- docs[i].content %></div>
                    <div class="media color-gray">
                        <span><i class="glyphicon glyphicon-user"></i>&nbsp;<%- docs[i].userName %></span>
                        <span><i class="glyphicon glyphicon-tag col-sm-offset-1"></i>&nbsp;<%- docs[i].categoryName %></span>
                        <span><i class="glyphicon glyphicon-time  col-sm-offset-1"></i>&nbsp;
                            <%=: docs[i].createTime | format %>
                        </span>
                        <span><i class="glyphicon glyphicon-eye-open  col-sm-offset-1"></i>&nbsp;<%= docs[i].view %></span>
                    </div>
                </div>
                <% } %>
                <ul class="pager">
                    <li class="previous"><a href="javascript:void(0)" class="js-pre-page" data-url="/"
                                            data-page="<%= page %>" data-total="<%= totalPage %>">&larr; Older</a></li>
                    <li class="next"><a href="javascript:void(0)" class="js-next-page" data-url="/"
                                        data-page="<%= page %>" data-total="<%= totalPage %>">Newer &rarr;</a></li>
                </ul>
                <% }else{ %>
                <div class="alert alert-warning" role="alert">No Content, Please Post Content!</div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="jumbotron js-menu-bar">
            <p><a href="/content/addPage?view=addContent" class="btn btn-primary btn-lg" role="button">
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;Post content
                </a>
            </p>
        </div>
    </div>
</div>

<%- include footer %>
<% if(login){ %>
<script>
    $(function () {
        $('.js-login-btn').click();
    });
</script>
<% } %>

