<%- include header %>

<div class="page-header">
    <h3> Category Manager
        <button type="button" class="btn btn-default pull-right js-add-category">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Add Category
        </button>
    </h3>

    <div class="clearfix"></div>
</div>
<%if(docs.length>0){%>
<table class="table table-hover">
    <thead>
    <tr>
        <th>No.</th>
        <th>category name</th>
        <th>create time</th>
        <th>modify time</th>
        <th>operation</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < docs.length;i++){%>
    <tr>
        <td><%= i+1 %></td>
        <td><a href="javascript:void(0)" data-id="<%=docs[i]._id%>" class="js-modify-category" title="click modify category"><%= docs[i].name %></a></td>
        <td><%= docs[i].createTime %></td>
        <td><%= docs[i].modifyTime %></td>
        <td><a href="javascript:void(0)" class="js-category-delete" data-id="<%=docs[i]._id%>">删除</a></td>
    </tr>
    <% } %>
    </tbody>
</table>
<ul class="pager">
    <li class="previous"><a href="javascript:void(0)" class="js-pre-page" data-url="category" data-page="<%=page%>" data-total="<%=totalPage%>">&larr; Older</a></li>
    <li class="next"><a href="javascript:void(0)" class="js-next-page" data-url="category" data-page="<%=page%>" data-total="<%=totalPage%>">Newer &rarr;</a></li>
</ul>
<%}else{%>
<div class="alert alert-warning" role="alert">暂无数据</div>
<%}%>
<div class="hide">
    <div class="js-add-category-panel">
        <form action="javascript:void(0)" class="form-horizontal l-login-panel" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control js-category-name"  placeholder="Category Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-12">
                    <button type="submit" class="btn btn-primary col-sm-12 js-save-category">Save New Category</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include footer %>
<script>
    $(function(){
        $('.js-category-manager').addClass("panel-primary");
    });
</script>